<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337995725399-5aj27mgnqck2chb5fqftfi94c53kad08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337995725399-5aj27mgnqck2chb5fqftfi94c53kad08</string>
	<key>API_KEY</key>
	<string>AIzaSyAyvMqHkXgz7bjnO_8pdImpDOlr_ND2t_k</string>
	<key>GCM_SENDER_ID</key>
	<string>337995725399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pocketcrafts.insta</string>
	<key>PROJECT_ID</key>
	<string>insta-f8e11</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-f8e11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337995725399:ios:aaef93d2be0c03c3d20112</string>
</dict>
</plist>